# Data Science Tools and Ecosystem

**Objectives**
- List popular languages for Data Science
- List Commonly Used Libraries
- List Data Science tools

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn


|Data Science Tools|
|------------------|
|Python            |
|R                 |
|SQL               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
JESSE KASADHA